<form method="POST" action="/articles/<%= @article.id %>">
  <input type="hidden" name="_method" value="PATCH">
  <label for="title">Title</label><br>
  <input type="text" id="title" name="article[title]" value=<%= @article.title %>><br>
  <label for="content">Content</label><br>
  <input type="text" id="content" name="article[content]" value=<%= @article.content %>><br>
  <input type="submit">
</form>
