<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Article</title>
  </head>
  <body>
    <h1>Add New Article</h1>
    <form action="/articles" method="post">
      <h2>Article Title: <input type="text" name="title"></h2>
      <h2>Article Content: <input type="text" name="content"></h2>
      <input type="submit">
    </form>
  </body>
</html>
