<form action="/articles" method="POST">

  <label for="title">Title</label>
  <input type="text" name="title" id="title"><br /><br />

  <label for="title">Content</label>
  <textarea type="text" name="content" id="content"></textarea><br /><br />

  <input type="submit" value="submit">

</form>
