<h1>Create Article</h1>

<form action="/articles" method="post">
  <label for="title">Article Title:</label>
  <input type="text" name="title" value="" id="title">
  <label for="content">Article Content:</label>
  <input type="text" name="content" value="" id="content">
  <input type="submit" :id="Submit">
</form>
